doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.less")
        title Template2
    body 
        div(class="div1")
        p#aa YOUR LOGO
          div(class="texte")
            img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/4901/CYBER__MONDAY.png" width="50%")
            h2 SALE  
            P#a 30% Off All Certificate Courses 
        button#btt SIGN UP NOW
        div(class="div10")
          div(class="gau") 
            div(class="cercle")
            div(class="fond")
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMAtD7IxRUAOINM5ekgGFpf9dgxk_-9FyCug&s" )
            div(class="box")
              div(class="tt")
              div(class="ttt")
              div(class="ttt")
            div(class="boxx")
              div(class="ee")
              div(class="eee")
          div(class="droite")
            div(class="txtt")
              p#ft Feature
              h2 Upgrade Your Skills
              p#Co collection of business courses
              P Maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
              p  <s>59.90$ </s> &nbsp 
              button <strong> Sign UP NOW ! </strong>
        div(class="div3")
          p#ln Learn Easy
          h2 How We Work
        div(class="div4")
          div(class="jaune")
            p#valeur <br> 1
          div(class="vert")
            p#m <strong> Choosing your course </strong> 
            p#description Maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendis.
        div(class="div5")
          div(class="jaune")
           p#m <strong> Follow The Assignments </strong> 
           p#description Maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendis.  
          div(class="vert")
            p#valeur <br> 2 
        div(class="div6")
          div(class="jaune")
            p#valeur <br> 3
          div(class="vert")
            p#m <strong> Get Certificate </strong> 
            p#description Maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendis.
        div(class="ens")
         div(class="div7")
            div(class="gauche") 
              img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTezalux1__3KwbJ1Bt-WnQQkW82G1Nwy6g&s," alt="logo" title="logo")
              div(class="e")
                p#ddd &nbsp Desing 
              p#dddd Join Millions Of Learners 
              p Maxime placeal facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
              p <s> 59.90$ </s>  &nbsp <strong width="70px"> 41.90$  </strong>
            div(class="droite")
              div(class='txt')
                p#d Design Course
                p Est et expedita distincto &nbsp&gt;
                p &#9733; <strong> 4.9 </strong> <br> <hr color="pink" width="100%">
                p Libero tempore cum soluta &gt;
                p &#9733; <strong> 5 </strong> <br> <hr color="pink" width="100%">
                p Nobis est eligendi optio cum &gt;
                p &#9733; <strong> 4.1 </strong> <br> 
                p#dd Marketing Courses
                p Est et expedita distincto &nbsp&gt;
                p &#9733; <strong> 4.9 </strong> <br> <hr color="pink" width="100%">
                p Libero tempore cum soluta &nbsp&gt;
                p &#9733; <strong> 4.1 </strong> <br> 
        div(class="baniere")
            p#ln Learn Easy
            h2 Up Coming Courses
            div(class="div8")
              div(class="jaun")
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuUAaCexCAdZ5zlY2up5aKVinogvidkEY3AA&s" height="150em") 
              div(class="ver")
                p#w <strong> Outbound Marketing - 41.90$ </strong>
                p#ww <strong> <s> 59.90$ </s> </strong> 
                button#bt Join Now 
                p#www 5 April,2021 | 3: 00pm - 7:00pm  <br>             
            p <hr width="93%">
            div(class="div8")
              div(class="jaun")
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuUAaCexCAdZ5zlY2up5aKVinogvidkEY3AA&s" height="150em") 
              div(class="ver")
                p#i <strong> Web Desing - 41.90$ </strong> <p class="ii"> <strong> <s> 59.90$ </s> </strong></p>
                button#bt Join Now 
                p#iii 5 April,2021 | 3: 00pm - 7:00pm  <br>                  
            p <hr width="93%">
            div(class="div8")
              div(class="jaun")
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuUAaCexCAdZ5zlY2up5aKVinogvidkEY3AA&s" height="150em") 
              div(class="ver")
                p#o <strong> business 101 - 41.90$ </strong>
                p#ww <strong> <s> 59.90$ </s> </strong> 
                button#bt Join Now 
                p#www 5 April,2021 | 3: 00pm - 7:00pm  <br>