body{
  display: flex;  
  flex-direction: column; 
  justify-content: center;  
  align-items: center; 
  background: #efb9e2;
  margin: auto;
  padding: auto;
}
.div1{
  background: rgb(23, 23, 63);
  width: 100%;
  margin: 0;
  clip-path: polygon(0 35%, 100% 36%, 100% 100%, 0 100%);

// background: linear-gradient(2355deg, darkblue 50%,palevioletred );
}

.div10{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-top: 5em;
    color: rgb(0, 0, 0);
  }
.gau{
    margin-left: -6.4em;
    height: 28em;
    img{
      margin-top: 1em;
      margin-left: 8em;
      width: 50%;
      height: 23em;
      border-radius: 8px;
      box-shadow: 30px 30px 30px #f19306 ;
    }
  }
.fond{
  z-index: 1;
  position: absolute;
  right: 20;
  bottom: 15;

}
.box{
  width: 170px;
  margin-top: -24em;
  left: 9em;
  height: 6.5em;
  right: 28em ;
  border-radius: 15px;
  bottom: 25;
  background: #efe8da;
  z-index: 2;
  position: absolute;
}
.boxx{
  width: 130px;
  margin-top: -3.3em;
  height: 3em;
  right: 18em ;
  left: 0.5em;
  border-radius: 10px;
  bottom: 25;
  background: #131af5;
  z-index: 2;
  position: absolute;
}
.tt{
  background: #f7ddb6;
    height: 4px;
    width: 100px;
    margin-left: 50px;
    margin-top: 59px;
    text-align: left;
    border-radius: 3px;
}
.ttt{
    background: #eece9f;
    height: 7px;
    width: 125px;
    margin-left: 25px;
    margin-top: 5px;
    text-align: left;
    border-radius: 3px;

}
.ee{
   background: #5864d6;
   border-radius: 3px;
    height: 5px;
    width: 90px;
    margin-left: 20px;
    margin-top: 18px;
    text-align: left;
}
.eee{
   background: #5864d6;
   border-radius: 3px;
    height: 4px;
    width: 70px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}
.texte{
margin-top: 5em;
 display: flex; 
  height: 25em; 
  flex-direction: column; 
  justify-content: center;  
  align-items: center; 
  color: aliceblue;
button{
  background: rgb(41, 41, 54);
  color: pink;
 margin-left: -7.2em;
 width: 120px;
 height: 200px;
}
h2{
  color: rgb(34, 79, 34);
}
}
.div1 img{
margin-top: 45em;
}
.div1 h2{
color: rgb(88, 146, 88);
font-size: 50px;
}
#a{
font-size: 45px;
}
#aa{
margin-top: 2em;
font-size: 25px;
}
#ft{
margin-top: 7em;
color: rgba(67, 52, 67, 0.774);

}
.txtt{
margin-top: -5em;
 button{
  background: rgb(41, 41, 54);
  color: pink;
  width: 12em;
  height: 3.5em;
  border-radius: 3px;
  margin-left: 5em;
}
}
.txt {  
margin-top: 0.5em;
h2{
font-size: 45px;
}
#Co {
  font-size: 20px;
}
button{
  background: rgb(41, 41, 54);
  color: pink;
  width: 12em;
  height: 3.5em;
  border-radius: 3px;
  margin-left: 5em;
}
}

#ln{
  color: rgb(74, 63, 67); font-size: 1.5em;
}
h2{rgb(80, 25, 42)rgb(56, 51, 52)rgb(54, 43, 46)
  font-size: 5em;
}
.div3{
text-align: center;
h2{
  font-size: 2em;
}

}
.div4 {
    display: grid;
    grid-template-columns: 175px 400px;
    gap: 0px;
    padding: 20px;
    color: rgb(0, 0, 0);
    margin-left: -6em;
    border-radius: 8px;
    text-align: center;
      .jaune { background-color: #d8d4c3; }
      .vert { background-color: #ef9ecc; }
      #m { font-size: 20px; margin: 1em; text-align: left;}
      #valeur { font-size: 38px; font-weight: bold; margin: auto; padding: auto; }
      #description { font-size: 16px;margin: 1em; text-align: left; }
  }
.div5 {
    display: grid;
    grid-template-columns: 400px 175px;
    gap: 0px;
    padding: 20px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    margin-left: 2.5em;
      .jaune { background-color: #ef9ecc;}
      .vert { background-color: #f5c5e0; }
      #m { font-size: 20px; margin: 1em; text-align: left;}
      #valeur { font-size: 38px; font-weight: bold; margin: auto; padding: auto;}
      #description { font-size: 16px;margin: 1em; text-align: left; }
  }
.div6 {
    display: grid;
    grid-template-columns: 175px 400px;
    gap: 0px;
    padding: 20px;
    color: rgb(0, 0, 0);
    margin-left: -6em;
    border-radius: 8px;
    text-align: center;
      .jaune { background-color: #e77fc9; }
      .vert { background-color: #ef9ecc; }
      #m { font-size: 20px; margin: 1em; text-align: left; }
      #valeur { font-size: 38px; font-weight: bold;margin: auto; padding: auto;  }
      #description { font-size: 16px; margin:1em; text-align: left;}
  }
.div7{
    display: grid;
    grid-template-columns: 300px 250px;
    gap: 0px;
    margin-top: 2em;
    margin-left: 4.9em;
    color: rgb(0, 0, 0);
  }
  .gauche{
    margin-left: -6.4em;
    background: white;
    height: 35em;
    img{
      margin-top: 1em;
      margin-left: 10px;
      width: 95%;
      height: 45%;
      border-radius: 5px;
    }
    p{
      margin-left: 0.5em;
    }
  }
  #d{
    font-size: 30px;
    background: #dc38b5;
  }
  #dd{
    font-size: 30px;
    background: #9cade0;
  }
  #q{
    font-size: 35px;
  }
  .droite{
    width: 100%;
    font-size: 20px;
    p{
      font-size: 17px;
    }
  }
  .txt{
    margin-left: 1em;
  }
  .ens{
    justify-content: space-between;
    gap: 0;
  }
  #ddd{
    margin-left: 2em;
    font-size: 20px;
    background: #e085cb;
    width: 90px;
    border-radius: 10px;
  }
  #dddd{
    margin-left: 0.4em;
    font-size: 35px;
  }
 .baniere{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70em;
    background-color: #28314d;
    #ln{
      color: #ec9eda;
      text-align: center;
      margin-top: 1.5em;
    }
    h2{
      color: white;
      text-align: center;
      font-size: 38px;
    }
  }
.cadre{
  background: #d8d4c3;
  img{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.div8{
  display: grid;
  margin-left: 2em;
  margin-right: 2em;
    grid-template-columns: 240px 470px;
    gap: 0px;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin-left: -1em;
    border-radius: 8px;
    text-align: center;
      .jaun { background-color: #f1efe7;margin-left: 2.5em;}
      .ver { background-color: #f1efe7;}
    img{
  width: 100%;
  height: 100%;
    }
    p {
      margin-left: -5em ;
    }
    #w{
      font-size: 25px;
    }
    #o{
      font-size: 25px;
      margin-left: -9em;
    }
    #ww{
      color: palevioletred;
      font-size: 20px;
      margin-left: -18em;
    }
    #www{
      margin-left: -13em;
      color: gray;
    }
}
 #i{
      font-size: 25px;
      margin-left: -9em;
    }
  #ii{
      color: palevioletred;
      font-size: 20px;
      margin-left: -10em;
    }
  #iii{
      margin-left: -14em;
      color: gray;
    }
    button {
      background: #636b87;
      color: #f1c1dd;
      margin-left: 18em;
    }
#bt{
width: 150px;
height: 2.5em;
border-radius: 3px;
}
#btt{
  width: 150px;
height: 4em;
border-radius: 3px;
margin-left: 2em;
margin-top: 3em;
}
.cercle{
  width: 78px;
  height: 70px;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThn2O4f85iRUGth0pwLOtyRf-g24gOMKcPbQ&s );
  position: absolute;
  top: 49em;
  left: 10.4em;
  z-index: 3;
  border-radius: 50%;
}
.horizontal-line {
border-top: 1px solid rgb(141, 141, 141);
width: 100%;
}