doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title interface en pug
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css")
    body 
      div(class="masque")
        div(class="fene")
          div.fn
            h4.h LOME <br> Partiellement <br>nuageux <br> pression :: 1013                                                                                                           <br> mmhg <br>Humidite
          p &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          div.n
            span.t &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <i class='bx bx-plus-circle'></i>  Add a note                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
          p &nbsp; &nbsp;&nbsp;
          div.n
            span.t <i class='bx bx-plus-circle'></i>  New Countdown 
          button Manage
        // div.icones 
        //     div.da1 
        //       i.bx.bx-image
        //     div.da2 
        //       i.bx.bx-slider-alt
        //     div.da3 
        //       i.bx.bxl-chrome
        div.gauch
          p.f  <br> <i class='bx bxs-joystick'></i> Frive Games
        div.gauc 
          p.f  <br> <i class='bx bxs-joystick'></i> Top Games
        div.gau(title="Click to change betwen 24 and 12 hours")
          h2.ff 10h 44 
          p.ff <strong >Monday, september 9 </strong>
S