body{
    margin: 0;
    padding: 0;
    display: block;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 0;
    font-weight: 400;
    background: rgb(234, 167, 167);
}

.fene{
    position: absolute;
    top: 60px;                   
    width: 23%;
    left: 2%;
    bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;   
    background-color: transparent;
}
.fn{
background: grey;
width: 18em;
height: 9em;
border-radius: 5px;
}
.h{
  text-align: left;
  margin-left: 4.5em;
  margin-top: 1em;
  color: white;
}
.n{
background: grey;
width: 18em;
height: 3em;
border-radius: 5px;
}
.t{
  text-align: left;
  margin-left:3em ;
  color: white;
}
button{
  margin-top: 2em;
  border-radius: 15px;
  width: 4.4em;
  height: 2.5em;
}
.gauch{
  background-color: transparent;
  background: grey;
  width: 9em;
  height: 3.6em;
  margin-left: 89%;
  border-radius: 5px;
  color: rgb(214, 209, 209);
}
.gauc{
  background-color: transparent;
  background: grey;
  width: 9em;
  height: 3.6em;
  margin-left: 89%;
  border-radius: 5px;
  color: rgb(214, 209, 209);
}
.gau{
   background-color: transparent;
  background: grey;
  width: 13em;
  height: 6em;
  margin-top: 21em;
  margin-left: 84%;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  h2{
    margin-left: 2em;
    font-size: 30px;
    }
  p{
    font-size: 15px;
  }
}

.f{
  text-align: center;
}

// .icones {
//     color: #fff;
//     align-items: ;
//     margin: 0 10px;
    
// }
// .da1{
//     color: #ba1717;
//     bottom: 55px;
//     background-color: grey;
//     border-radius: 2px;
//     margin-left: 3%;
//     margin-top: 2em;
//     width: 2.5em;
//     height: 2em;

// }
// .da2{
//     position: absolute;
//     color: #fff;
//     bottom: 35px;
//     background-color: grey;
//     border-radius: 2px;
//     margin-left: 7%;
//     height: 30px;


// }
// .da3{
//     position: absolute;
//     color: #fff;
//     bottom: 35px;
//     background-color: grey;
//     border-radius: 2px;
//     margin-left: 10%;
//     height: 30px;
// }
// .da i {
//     margin-top:5px;
// }