doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.less")
        title Hacktoberfest page 
    body 
        div.div1
            div.haut 
                img(src="https://hacktoberfest.com/_next/static/media/logo-hacktoberfest-11--beige.2b2fdfcb.svg",alt="logo")
            div.texte 
                P.ins L'inscription est fermee 
                p.txt Merci d'avoir contribue a l'open source ce mois-ci. L'open source ne pourrait  pas survivre sans le duo dynamique de mainteneurs de projets et de benevoles <br> comme vous. Le HactoberFest #11 est officiellement termine.
        div.s 
            div.ss 
            p.sss S 
            div.info 
            p Mais ne laissez pas cela vous empecher de contribuer a l'open source tout au  <br> long de l'annee. Nous avons hate de vous revpoir l'annee prochaine! assurez- <br> vous de vous inscrire aux mises a jours pour recevoir les derniers annonces sur <br> les futurs evenements du hacktoberfest.
            div.vert 
            p Garder un lien fort avec ..... 