.body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.haut{
    background: green;
    img{
        left: 20px;
    }
}
.texte{
    .ins{
        font-size: 20px;
        margin-left: 12em;
        color: white;
    }
    .rs{
        color: rgb(160, 40, 140);
    }
}
.s{
    .ss{
        background: black;
        width: 2em;
        height: 1.5em;
    }
    .sss{
        color: rgb(33, 126, 33);
    }
}